{% if product.metafields.custom.banner_image != blank  %}
<section
  class=" product-banner
    pxs-image-with-text
    pxs-image-with-text-section-height-original
  "
>
  <div class="pxs-image-with-text-wrapper">
    {%- assign image = product.metafields.custom.banner_image -%}
    <div
      class="pxs-image-with-text-background">
      <img style="width: 100%;"
      src="{{ image | img_url: '1024x' }}"
      srcset="
      {% if image.width > 640 %}{{ image.src | img_url: '640x' }} 640w{% endif %}
      {% if image.width > 720 %},{{ image.src | img_url: '720x' }} 720w{% endif %}
      {% if image.width > 900 %},{{ image.src | img_url: '900x' }} 900w{% endif %} 
      {% if image.width > 1000 %},{{ image.src | img_url: '1000x' }} 1000w{% endif %} 
      {% if image.width > 1500 %},{{ image.src | img_url: '1500x' }} 1500w{% endif %} 
      " 
      sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw"
      alt="{{ image.alt | escape }}"
      width="{{ image.width }}"
      height="{{ image.height }}"
      loading="lazy"
    >

    </div>

    <div
      class="
        pxs-image-with-text-content-wrapper
        pxs-image-with-text-content-position-y-center
        pxs-image-with-text-content-position-x-center
      "
    >
        <div
          class="pxs-image-with-text-content"
         
        >
        {% if product.metafields.custom.banner_title != blank %}
          <h2
            class="pxs-image-with-text-heading"
          >
            {{ product.metafields.custom.banner_title }}
          </h2>
        {% endif %}
        </div>
    </div>
  </div>
</section>

<style>
.product-banner{
    margin-top: 30px;
    color: white;
}
@media (min-width: 720px) {
    .product-banner{
    margin-top: 70px;
        margin-left: -25px;
    margin-right: -25px;
}
}
</style>
{% endif %}
