{% assign enable_text_box = true %}
{% if section.settings.textbox_title == blank and section.settings.textbox_subheading == blank %}
  {% assign enable_text_box = false %}
{% endif %}
{% capture root_class %}
  shoppable-image-section
  {% unless section.settings.image_width == 'full' %}
    shoppable-image--text-position-{{ section.settings.textbox_text_position }}
  {% endunless %}
  {% if enable_text_box %}
    shoppable-image--{{ section.settings.image_width }}-width-image
  {% else %}
    shoppable-image--full-width-image
  {% endif %}
{% endcapture %}
{% assign title = section.settings.title %}
{% assign background_image = section.settings.image %}
{% assign tooltip_link_text = section.settings.link_text %}
{% assign x_axis_id = 'x_axis' %}
{% assign y_axis_id = 'y_axis' %}
{% assign hotspot_product_id = 'product' %}
{% assign show_tooltip_image = true %}
{% assign show_vendor = settings.product_show_vendor %}
{% assign show_compare_at_price = true %}
{% assign show_sale_badge = settings.product_sales_badge %}
{% assign include_range = true %}
{% assign show_range = true %}
{% assign sales_badge_style = settings.product_sales_badge_style %}
{% capture text_box_root_class %}
  text-box--align-{{ section.settings.textbox_text_alignment }}
{% endcapture %}
{% assign text_box_heading = section.settings.textbox_title %}
{% assign text_box_subheading = section.settings.textbox_subheading %}
{% assign text_box_button_label = section.settings.textbox_button_label %}
{% assign text_box_button_link = section.settings.textbox_button_link %}
{% capture text_box_button_class %}
  button-{{ section.settings.textbox_button_style }}
{% endcapture %}


{% if sales_badge_style == 'percentile' %}
  {% assign sales_badge_style = 'percentage' %}
{% endif %}

<script type="application/pxs-animation-mapping+json">
  {
    "blocks": [".shoppable-image"],
    "elements": [
      ".shoppable-image__hotspot",
      ".shoppable-image__text-box-title",
      ".shoppable-image__text-box-subheading",
      ".shoppable-image__text-box-button"
    ]
  }
</script>

{% comment %}Inject @pixelunion/pxs-shoppable-image/dynamic-shoppable-image begin{% endcomment %}
{%- comment -%}
  @param section {Object}
    Section object

  @param root_class {String}
    Class applied to the top level section element

  @param title {String}
    Section title

  @param background_image {Image}
    Background image

  @param image_crop {String}
    Image crop setting

  @param tooltip_link_text {String}
    Text in the tooltip link

  @param x_axis_id {String}
    The block setting name for the horizontal position of hotspot

  @param y_axis_id {String}
    The block setting name for the vertical position of hotspot

  @param hotspot_product_id {String}
    The block setting name for the hotspot product

  @param show_tooltip_image {Bool}
    Show a product image in the tooltip

  @param show_vendor {Bool}
    Show the vendor name on the tooltip

  @param show_compare_at_price {Bool}
    Show the compare-at price on the tooltip

  @param show_sale_badge {Bool}
    Show sale badge on the tooltip

  @param enable_text_box {Bool}
    Show text content beside hotspot image

  @param text_box_root_class {String}
    Class applied to the text box wrapper

  @param text_box_heading {String}
    Heading in the text box component

  @param text_box_subheading {String}
    Subheading in the text box component

  @param text_box_button_label {String}
    Button label in text box component

  @param text_box_button_class {String}
    Class applied to the link/button in the text box component

  @param text_box_button_link {String}
    Link for button in text box component
{%- endcomment -%}

<script
  type="application/json"
  data-section-type="pxs-shoppable-image"
  data-section-id="{{ section.id }}"
>
</script>

<section class="shoppable-image {{ root_class }} {% if title == blank %}no-section-heading{% endif %}" data-shoppable-image-container>
  {% if title != blank %}
    <h2 class="shoppable-image__section-heading">{{ title | escape }}</h2>
  {% endif %}

  {% if enable_text_box %}
    <div class="shoppable-image__section-content-wrapper">
  {% endif %}
  <div class="shoppable-image__wrapper" data-shoppable-image-wrapper>
    {% if background_image != blank %}
      {%
        include 'rimg',
        img: background_image,
        size: '1400x',
        class: 'shoppable-image__image',
        crop: 'center',
        lazy: true,
        canvas: true,
        attr: 'data-shoppable-image-img'
      %}
    {% else %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'shoppable-image__image shoppable-image__placeholder-image' }}
    {% endif %}
  </div>
  {% if enable_text_box %}
    <div class="shoppable-image__text-box-wrapper {{ text_box_root_class }}">
      <div class="shoppable-image__text-box-content">
        {% if text_box_heading != blank %}
          <h2 class="shoppable-image__text-box-title">{{ text_box_heading }}</h2>
        {% endif %}
        {% if text_box_subheading != blank %}
          <div class="shoppable-image__text-box-subheading">{{ text_box_subheading }}</div>
        {% endif %}
        {% if text_box_button_link != blank or text_box_button_label != blank %}
          <a href="{{ text_box_button_link }}" class="shoppable-image__text-box-button {{ text_box_button_class }}" data-shoppable-image-textbox-link>{{ text_box_button_label }}</a>
        {% endif %}
      </div>
    </div>
  </div> {% comment %} content wrapper div only exists when text box is enabled {% endcomment %}
  {% endif %}
</section>
{% comment %}Inject @pixelunion/pxs-shoppable-image/dynamic-shoppable-image end{% endcomment %}


<div class="hotspot__modal"
  data-hotspot-modal-id="{{ section.id }}"
>
  <div class="hotspot__modal-wrapper"
    data-hotspot-section-id="{{ section.id }}"
  >
    <div class="hotspot__modal-sidebar" data-hotspot-modal-sidebar>
      <div class="hotspot__modal-sidebar-content" data-hotspot-modal-sidebar-content>
        {% for block in section.blocks %}
          {% assign block_product = all_products[block.settings.product] %}
            {% if block_product != blank %}
              <a class="hotspot__modal-sidebar-image-wrapper"
                data-hotspot-modal-sidebar-item
                data-product-quickshop-url="{{ block_product.url }}"
                data-product-id="{{ block_product.id }}"
                data-index="{{ forloop.index }}"
              >
                {%
                  include 'rimg',
                  img: block_product.featured_media.preview_image,
                  size: '800x',
                  class: 'hotspot__modal-sidebar-image',
                  crop: 'center',
                  lazy: true,
                  canvas: true,
                  attr: 'data-modal-sidebar-image',
                %}
              </a>
            {% endif%}
          {% endfor %}
        </div>
      <span class="hotspot__modal-sidebar-arrow" data-sidebar-arrow>
        <span class="hotspot__modal-sidebar-icon"></span>
      </span>
    </div>
      <div
        class="hotspot__modal-quickshop"
        data-hotspot-modal-quickshop
        data-product-quickshop
      >
        {% render 'quick-shop' %}
      </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.shoppable_image.name",
  "class": "shoppable-image--section",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.shoppable_image.title.label",
      "default": "Shoppable image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.shoppable_image.image.label"
    },
    {
      "type": "select",
      "id": "image_width",
      "label": "t:sections.shoppable_image.image_width.label",
      "options": [
        {
          "value": "half",
          "label": "t:sections.shoppable_image.image_width.option_1"
        },
        {
          "value": "two-thirds",
          "label": "t:sections.shoppable_image.image_width.option_2"
        },
        {
          "value": "full",
          "label": "t:sections.shoppable_image.image_width.option_3"
        }
      ],
      "default": "two-thirds"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "t:sections.shoppable_image.link_text.label",
      "default": "View product"
    },
    {
      "type": "header",
      "content": "t:sections.shoppable_image.header_1.content"
    },
    {
      "type": "text",
      "id": "textbox_title",
      "label": "t:sections.shoppable_image.textbox_title.label",
      "default": "Shop the look"
    },
    {
      "type": "richtext",
      "id": "textbox_subheading",
      "label": "t:sections.shoppable_image.textbox_subheading.label",
      "default": "<p>Make an image shoppable by adding hotspots that link to various products.</p>"
    },
    {
      "type": "text",
      "id": "textbox_button_label",
      "label": "t:sections.shoppable_image.textbox_button_label.label",
      "default": "Button"
    },
    {
      "type": "url",
      "id": "textbox_button_link",
      "label": "t:sections.shoppable_image.textbox_button_link.label"
    },
    {
      "type": "select",
      "id": "textbox_button_style",
      "label": "t:sections.shoppable_image.textbox_button_style.label",
      "options": [
        {
          "value": "primary",
          "label": "t:sections.shoppable_image.textbox_button_style.option_1"
        },
        {
          "value": "secondary",
          "label": "t:sections.shoppable_image.textbox_button_style.option_2"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "textbox_text_alignment",
      "label": "t:sections.shoppable_image.textbox_text_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.shoppable_image.textbox_text_alignment.option_1"
        },
        {
          "value": "center",
          "label": "t:sections.shoppable_image.textbox_text_alignment.option_2"
        },
        {
          "value": "right",
          "label": "t:sections.shoppable_image.textbox_text_alignment.option_3"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "textbox_text_position",
      "label": "t:sections.shoppable_image.textbox_text_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.shoppable_image.textbox_text_position.option_1"
        },
        {
          "value": "right",
          "label": "t:sections.shoppable_image.textbox_text_position.option_2"
        }
      ],
      "default": "right",
      "info": "t:sections.shoppable_image.textbox_text_position.info"
    }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "t:sections.shoppable_image.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.shoppable_image.blocks.product.product.label"
        },
        {
          "type": "range",
          "id": "x_axis",
          "label": "t:sections.shoppable_image.blocks.product.x_axis.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "y_axis",
          "label": "t:sections.shoppable_image.blocks.product.y_axis.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.shoppable_image.presets.shoppable_image.name",
      "category": "t:sections.shoppable_image.presets.shoppable_image.category",
      "blocks": [
        {
          "type": "hotspot",
          "settings": {
            "x_axis": 10,
            "y_axis": 65
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "x_axis": 25,
            "y_axis": 30
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "x_axis": 85,
            "y_axis": 55
          }
        }
      ]
    }
  ]
}
{% endschema %}